@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --font-main: 'Inter', system-ui, sans-serif;
}

body {
  font-family: var(--font-main);
}

.selected-marker {
  filter: hue-rotate(120deg) drop-shadow(0 0 8px rgba(0, 0, 255, 0.8));
  transform: scale(1.2);
  transition: all 0.3s ease;
  z-index: 1000 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;